.container {
	width: 800px;
	height: 500px;
	position: relative;
	
}
.container:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(bc.jpg);
	background-size: cover;
}
.container:hover:before {
	filter: blur(5px);
}
.border-left-right, .border-top-bottom {
	width: 700px;
	height: 400px;
	position: absolute;
	top: 50px;
	left: 50px;
}

.border-left-right:before, .border-left-right:after, .border-top-bottom:before, .border-top-bottom:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	box-sizing: border-box;
	transition-property: height, width, left, top;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	background: rgba(255,255,255,0.8);
}
.border-left-right:before {
	top: 50%;
	left: 0;
	width: 3px;
	height: 0;
}
.border-left-right:after {
	top: 50%;
	right: 0;
	width: 3px;
	height: 0;
}
.border-top-bottom:before {
	top: 0;
	left: 50%;
	width: 0;
	height: 5px;
}
.border-top-bottom:after {
	top: 100%;
	left: 50%;
	width: 0;
	height: 5px;
}

.container:hover .border-left-right:before, .container:hover .border-left-right:after {
	height: 100%;
	top: 0;
}
.container:hover .border-top-bottom:before, .container:hover .border-top-bottom:after {
	width: 100%;
	left: 0;
}

.welcome {
	font-size: 40px;
	font-family: "Microsoft Yahei";
	background: linear-gradient(to right, #38ba72 0%, red 25%, #38ba72 50%, red 75%, #38ba72 100%);
	-webkit-background-clip: text;
	color: transparent;
	background-size: 200% 100%;
	animation: streamer 2s linear infinite;
	position: absolute;
	top: 17px;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 400px;
	filter: opacity(0);
	transition: all .5s linear;
	

}
.container:hover .welcome {
	top: 0;
	filter: opacity(100%);
}
@keyframes streamer {
	0% {
		background-poisition: 0% 0%;
	}
	100% {
		background-position: -100% 0%;
	}
}